<div class="row">
    <div class="col m12">
        <div class="card blue-grey darken-1">
            <div class="card-content center-align black-text white">
                <span class="card-title">Add Employee</span>
                <br />
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="lastName" type="text" class="validate">
                                <label for="lasName">Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="firstName" type="text" class="validate">
                                <label for="firstName">First Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="userName" type="text" class="validate">
                                <label for="userName">User Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row">
                          <div class="card-content center-align black-text white">
                            <a class="btn-large blue" id="reset-btn" href="/addEmployee">Reset</a>
                            <a class="btn-large blue" id="addEmployee-btn">Submit</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>