<div class="row">
    <div class="col m12">
        <div class="card blue-grey darken-1">
            <div class="card-content center-align black-text white">
                <span class="card-title">Employee List</span>
            </div>
            <div class="card-content center-align black-text white">
                <table class="highlight responsive-table" id="employeeList">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Employee Name</th>
                            <th class="right-align">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each employee}}
                        <tr>
                            <td>{{userId}}</td>
                            <td>{{empName}}</td>
                            <td class="right-align">
                                <!-- Delete Trigger -->
                                <a data-id="{{id}}" class="fired btn-floating btn-small waves-effect waves-light red"><i
                                        class="material-icons">delete_forever</i></a>&nbsp;&nbsp;
                                <!-- Modal Map Trigger -->
                                <a class="btn-floating btn-small waves-effect waves-light red modal-trigger" href="#mapModal"><i
                                        class="material-icons">location_on</i></a>
                            </td>
                             <!-- Modal Map Structure -->
                                <div id="mapModal" class="modal">
                                    <div class="modal-content">
                                        <h4>Location</h4>
                                        <p>A bunch of text</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                                    </div>
                                </div>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>