<div class="row">
    <div class="col m12">
        <div class="card blue-grey darken-1">
            <div class="card-content center-align black-text white">
                <span class="card-title">{{empName}}</span>
            </div>
            <div class="card-content center-align black-text white">
                <table class="highlight">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Punch In</th>
                            <th>Punch Out</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{clockDate}}</td>
                            <td>8:30 AM</td>
                            <td>12:01 AM</td>
                        </tr>
                        <tr>
                            <td>Oct 30</td>
                            <td>8:30 AM</td>
                            <td>12:01 AM</td>
                        </tr>
                        <tr>
                            <td>Oct 30</td>
                            <td>8:30 AM</td>
                            <td>12:01 AM</td>
                        </tr>
                        <tr>
                            <td>Oct 30</td>
                            <td>8:30 AM</td>
                            <td>12:01 AM</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>